<a href="https://colab.research.google.com/github/tomonorisasaki/jupyter_notebook_practice/blob/master/%E3%83%87%E3%83%BC%E3%82%BF%E5%88%86%E6%9E%90100%E6%9C%AC%E3%83%8E%E3%83%83%E3%82%AF1%E7%AB%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
customer_master = pd.read_csv('customer_master.csv')

In [8]:
customer_master.head()

  customer_id customer_name    registration_date  ... age      birth pref
0    IK152942        平田 裕次郎  2019-01-01 00:25:33  ...  29  1990/6/10  石川県
1    TS808488         田村 詩織  2019-01-01 01:13:45  ...  33  1986/5/20  東京都
2    AS834628         久野 由樹  2019-01-01 02:00:14  ...  63   1956/1/2  茨城県
3    AS345469          鶴岡 薫  2019-01-01 04:48:22  ...  74  1945/3/25  東京都
4    GD892565         大内 高史  2019-01-01 04:54:51  ...  54   1965/8/5  千葉県

[5 rows x 9 columns]